body{
    color: var(--color);
    background-color: var(--background-color);
    height: 100vh;
    margin: 0;
    display: grid;
    place-items: center;
    font-family: 'Nunito';
    transition: background-color, color 1s;
}

.container{
    width: 80%;
    background: var(--panel-bg);
    border-radius: 10px;
    padding: 4em;
}

h1{
    margin: 0;
}

@media (prefers-color-scheme: dark){
    h1:after{
        content: "Dark";
    }
}

@media (prefers-color-scheme: light){
    h1:after{
        content: "Light";
    }
}