html{
    --bg-color: white;
    --text-color: #202020;
    --shadow: rgba(0, 0, 0, .2);
    --border: rgba(0, 0, 0, .3);
    --hover: #7f2fff;
    --btn-hover: #6200ff;
}
html[data-theme='dark']{
    --bg-color: #202020;
    --text-color: white;
    --shadow: rgba(0, 0, 0, .7);
    --border: rgba(255, 255, 255, .5);
}
body{
    margin: 0;
    padding: 0;
    font-family: nunito, sans-serif;
    background-color: var(--bg-color);
}
a{
    text-decoration: none;
    color: var(--text-color);
}
.header{
    position: fixed;
    width: 100vw;
    background-color: var(--bg-color);
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 3px 10px var(--shadow);
    padding: .2em 0em;
}
.nav{
    width: 1440px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .5em 5em;
}
.brand-name{
    font-size: 24px;
    font-weight: bold;
}
.dropdown{
    display: none;
    font-size: 22px;
    outline: none;
    cursor: pointer;
}
.wrap-nav-link{
    display: flex;
    align-items: center;
    justify-content: center;
}
.search{
    display: flex;
}
.search-bar{
    width: 180px;
    padding: .4em .7em;
    border: 1px solid var(--text-color);
    font-size: 16px;
    outline: none;
}
.search-bar:focus{
    outline: 2px solid #008cff;
}
.search-btn{
    background-color: var(--text-color);
    color: var(--bg-color);
    padding: .4em .7em;
    border: 1px solid var(--text-color);
    font-size: 16px;
    outline: none;
    cursor: pointer;
    box-shadow: 0px 3px 10px rgba(0, 0, 0, .2);
}
.search-btn:hover{
    background-color: var(--hover);
    border-color: var(--hover);
    color: white;
}
 .toggle-container input[type=checkbox]{
	height: 0;
	width: 0;
	visibility: hidden;
}
.toggle-container label {
	cursor: pointer;
	text-indent: -9999px;
	width: 60px;
	height: 30px;
	background: var(--text-color);
	float: right;
	position: relative;
}
.toggle-container label:after {
	content: '';
	position: absolute;
	top: 3px;
	left: 3px;
	width: 26px;
	height: 24px;
	background: var(--bg-color);
	transition: 0.3s;
}
.toggle-container input:checked + label:after {
	left: calc(100% - 5px);
	transform: translateX(-100%);
}
.toggle-container label:active:after {
	width: 45px;
}
html.transition,
html.transition *,
html.transition *:before,
html.transition *:after {
  transition: all 100ms !important;
  transition-delay: 0 !important;
}
.footer{
    position: fixed;
    width: 100vw;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px -3px 10px var(--shadow);
}
.footer-wrap{
    width: 1440px;
    padding: .5em 5em;
    display: flex;
    justify-content: space-between;
}
.contact{
    height: 20vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.contact-link{
    font-size: 18px;
    color: var(--text-color);
}
.contact-link:hover{
    text-decoration: underline;
}
.social{
    display: flex;
}
.col{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.social-link{
    font-size: 18px;
    display: flex;
    align-items: center;
    color: var(--text-color);
}
.social-link:hover{
    text-decoration: underline;
    transform: scale(1.1);
}
.social-link img{
    margin-right: 25px;
}
.subscription{
    display: flex;
    align-items: center;   
}
.sub-bar{
    width: 180px;
    padding: .4em .7em;
    border: 1px solid var(--text-color);
    font-size: 16px;
    outline: none;
}
.sub-bar:focus{
    outline: 2px solid #008cff;
}
.sub-btn{
    background-color: var(--text-color);
    color: var(--bg-color);
    padding: .4em .7em;
    border: 1px solid var(--text-color);
    font-size: 16px;
    outline: none;
    cursor: pointer;
    box-shadow: 0px 3px 10px rgba(0, 0, 0, .2);
}
.sub-btn:hover{
    background-color: var(--hover);
    border-color: var(--hover);
    color: white;
}
@media(max-width: 750px){
    .dropdown{
        display: block;
    }
    #dropdown-menu{
        display: none;
    }
}