.main{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 60px;
}
.main-content{
    width: 1440px;
    padding: .5em 3em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.heading-main{
    color: var(--text-color);
    font-size: 25px;
    font-weight: bold;
    text-align: center;
    padding: 1em 0em;
    letter-spacing: 2px;
}
.products{
    width: 100%;
    display: flex;
    flex-direction: column;
    box-shadow: 0px 3px 10px var(--shadow);
    border-radius: 8px;
    padding: 1em;
}
.software{
    border-bottom: 1px solid var(--border);
    padding: 1em 1em;
    display: flex;
}
.wrap-software{
    display: flex;
    flex-direction: column;
}
.software-icon{
    height: 50px;
    margin-right: 15px;
}
.software-name{
    font-size: 22px;
    width: fit-content;
    font-weight: bold;
}
.software-name:hover{
    color: var(--hover);
    text-decoration: underline;
}
.software-info{
    font-size: 15px;
    padding: 0;
    margin: 0;
    margin-top: 2px;
    color: var(--text-color);
}
.cta-download{
    margin-left: 15px;
    width: 150px;
    height: 45px;
    font-size: 18px;
    background-color: var(--hover);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    outline: none;
    display: flex;
    justify-content: center;
    align-items: center;
}
.cta-download:hover{
    box-shadow: 0px 3px 10px var(--shadow);
    background-color: var(--btn-hover);
}